/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

@import "normalize.scss";
@import "skeleton.scss";

@import "components/linear-icon.scss";
@import "components/relationship.scss";
@import "components/title-description.scss";
@import "components/ground-type.scss";
@import "components/recolte-semis.scss";
@import "components/info-nutrition.scss";
@import "components/home.scss";
@import "components/vegetable.scss";
@import "components/nav.scss";
@import "components/auto-complete.scss";

h3 {
  font-size: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

h4 {
}

html,
body,
#__next,
.screen-size  {
  width: 100%;
  height: 100%;
}
