.auto-complete {
  margin: 0 40px 40px 40px;
  position: relative;
  z-index: 9;
}

.auto-complete__search {
  position: absolute;
  right: 0;
  top: 0;
  width: 61px;
  height: 58px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auto-complete__search__icon {
  font-size: 20px;
  line-height: 20px;
  opacity: 0.3;
}

.react-autosuggest__container {
  position: relative;
}
.react-autosuggest__container--open {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  background: white;
}
.react-autosuggest__input {
  width: 100%;
  border: none;
  border-radius: 0;
  margin: 0;
  font-size: 42px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
  }
}
.react-autosuggest__input--open {
}
.react-autosuggest__input--focused {
}
.react-autosuggest__suggestions-container {
  //box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 9;
}
.react-autosuggest__suggestions-container--open {
  max-height: 80vh;
}
.react-autosuggest__suggestions-list {
  width: 100%;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  cursor: pointer;
}

.suggestion {
  display: flex;
  align-items: center;
}

.suggestion__illustration {
  width: 40px;
  padding: 10px 20px 10px 10px;
}

.suggestion__name {
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  position: relative;
  margin-right: 40px;
}

.suggestion__right {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
}

.react-autosuggest__suggestion--first {
}
.react-autosuggest__suggestion--highlighted {
}
.react-autosuggest__section-container {
}
.react-autosuggest__section-container--first {
}
.react-autosuggest__section-title {
}
