.auto-complete {
  margin: 0 40px 40px 40px;
  position: relative;
}

.auto-complete__search-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 61px;
  height: 59px;
  border-bottom: 2px solid grey;
}

.react-autosuggest__container {
}
.react-autosuggest__container--open {
}
.react-autosuggest__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  margin: 0;
}
.react-autosuggest__input--open {
}
.react-autosuggest__input--focused {
}
.react-autosuggest__suggestions-container {
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.08);
}
.react-autosuggest__suggestions-container--open {
}
.react-autosuggest__suggestions-list {
  width: 100%;
  list-style-type: none;
}
.react-autosuggest__suggestion {
  margin-bottom: 1px solid grey;
  padding: 10px 5px;
  cursor: pointer;
}
.react-autosuggest__suggestion--first {
}
.react-autosuggest__suggestion--highlighted {
}
.react-autosuggest__section-container {
}
.react-autosuggest__section-container--first {
}
.react-autosuggest__section-titl {
}
