.info-nutrition {
}

.info-nutrition__list {
  padding: 0;
  list-style-type: none;
}

.info-nutrition__title {
  margin: 0;
}

.info-nutrition__sub-title {
  margin-bottom: 15px;
  font-size: 1.6rem;
  opacity: 0.5;
}

.info-nutrition__list__item {
  margin-bottom: 0;
  font-size: 1.4rem;
  b {
    display: inline-block;
    width: 130px;
  }
}

.info-nutrition__wrapper {
  display: flex;
  flex-direction: row;
}

.info-nutrition__wrapper__column {
  width: 50%;
  &:first-child {
    margin-right: 20px;
  }
}
