.recolte-semis {
  display: flex;
  flex-direction: row;
}

.recolte-semis__column {
  width: 50%;
}

.recolte-semis__title {
  margin-bottom: 10px;
}

.recolte-semis__info {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
