.relationship {
}

.relationship__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.relationship__list__item {
}

.relationship__list__item__image {
  width: 50px;
}

.relationship__list__item__title {
}
